rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authed() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/email-allowlist/$(request.auth.token.email));
    }
    function defined(field, obj) {
      return (field in obj) && obj[field] != null;
    }

    match /{document=**} {
      allow read: if authed();
    }
    match /users/{userId}/{document=**} {
      allow create, update: if false && authed() && request.auth.token.email == userId
    }
    match /places/{placeId} {
      allow update: if false && authed() && (
      	!defined("owner", get(/databases/$(database)/documents/places/$(placeId)).data) ||
        get(/databases/$(database)/documents/places/$(placeId)).data.owner == request.auth.token.email
      )
    }
  }
}