p {
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

label {
    font-weight: bold;
}

textarea {
    height: 6.4rem;
    max-height: 7rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--font);
    line-height: 1;
    text-transform: lowercase;
}

.generating-msg {
    display: none;
    margin: auto;
    animation: grow-and-shrink 1.2s infinite ease-in-out;
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.14);
    }

    100% {
        transform: scale(1);
    }
}

body.generating *:not(.generating-msg) {
    display: none;
}

body.generating .generating-msg {
    display: unset;
}