body {
    text-align: center;
}

input[type='radio'] {
    display: none;
}

label {
    width: 75%;
    background: black;
    color: white;
    padding: 0rem 1.5rem 0.2rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 0.2rem solid white;
    text-transform: lowercase;
}

input[type='radio']:checked + label {
    background: white;
    color: black;
}

hr {
    width: 85%;
    padding: 0.05rem 0;
    border: none;
    display: inline-block;
    background: white;
}

h1  {
    font-size: 3.1rem;
    line-height: 2.2rem;
    width: 78%;
    align-self: center;
    margin: 0;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1;
}

img {
    filter: invert(1);
}
img[src] {
    height: 8rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    gap: 1rem;
}

.desc {
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    line-height: 1.2;
}

.desc:empty+hr {
    display: none;
}

.submit-button {
    font-size: 1.8rem;
}

.memorize {
    margin-top: -1rem;
    font-size: 1.1rem;
    line-height: 1.1;
}