html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

html {
    font-size: xx-large;
}