@font-face {
    font-family: 'IM FELL English';
    src: url('./fonts/IM_FELL_English_Italic.woff2') format('woff2'),
        url('./fonts/IM_FELL_English_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL English';
    src: url('./fonts/IM_FELL_English_Roman_SC.woff2') format('woff2'),
        url('./fonts/IM_FELL_English_Roman_SC.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --font: 'IM FELL English';
    --black: #22252f;
    --highlight: #c99f60;
}

html,
body {
    height: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

html {
    font-size: xx-large;
    text-size-adjust: none;
}
body {
    background-color: var(--black);
    color: white;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.8rem 1.6rem;
    box-sizing: border-box;
    transition: background-color 0.8s;

    border-image: url(./img/border.svg);
    border-image-slice: 38;
    border-image-width: 3.5rem;
    border-width: 1px;
    border-style: inset;
}
input, button, textarea {
    font-family: var(--font);
}

textarea {
    border: none;
}
textarea:focus, textarea:focus-visible {
    outline: 0.18rem solid var(--highlight);
}

body::after {
    content: ' ';
    background-color: var(--black);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100dvh;
    opacity: 1;
    transition: opacity 0.4s 0.1s;
    z-index: 100;
    pointer-events: none;
}

body.loaded::after {
    opacity: 0;
}

a {
    font-weight: bold;
    color: #8e47ff;
}

h1  {
    font-size: 2.6rem;
    line-height: 1.9rem;
    width: 92%;
    align-self: center;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.title {
    margin: 0;
    font-size: 8vw;
    text-shadow: 0.09em 0.06em 0px black, 0.04em 0.04em 0px black, -0.04em -0.04em 0px black,
        0.04em -0.04em 0px black, -0.04em 0.04em 0px black;
    text-align: center;
}

.submit-button {
    align-self: center;
    font-size: 2.8rem;
    border-radius: 0.3rem;
    padding: 0.1rem 1.2rem 0.4rem;
    margin-top: auto;
    border: none;
    text-transform: lowercase;
    min-width: 14rem;
}
.submit-button[disabled] {
    background-color: white;
    color: black;
    border-color: var(--black);
    opacity: 0.5;
}

.score {
    font-family: monospace;
    font-size: 1.8rem;
}
