@font-face {
    font-family: 'IM FELL English';
    src: url('./fonts/IM_FELL_English_Italic.woff2') format('woff2'),
        url('./fonts/IM_FELL_English_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL English';
    src: url('./fonts/IM_FELL_English_Roman_SC.woff2') format('woff2'),
        url('./fonts/IM_FELL_English_Roman_SC.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --font: 'IM FELL English';
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: xx-large;
    text-size-adjust: none;
}
body {
    background-color: black;
    color: white;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding: 0.9rem 1.7rem;
    box-sizing: border-box;
    transition: background-color 0.8s;
}
input, button, textarea {
    font-family: var(--font);
}

body::after {
    content: ' ';
    background-color: black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.99;
    transition: opacity 0.4s 0.1s;
    z-index: 100;
    pointer-events: none;
}

body.loaded::after {
    opacity: 0;
}

a {
    font-weight: bold;
    color: #8e47ff;
}

h1  {
    font-size: 3.1rem;
    line-height: 2.2rem;
    width: 78%;
    align-self: center;
    margin: 0;
    margin-bottom: 1.6rem;
    text-transform: lowercase;
}

.title {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 9vw;
    text-shadow: 0.09em 0.06em 0px black, 0.04em 0.04em 0px black, -0.04em -0.04em 0px black,
        0.04em -0.04em 0px black, -0.04em 0.04em 0px black;
    text-align: center;
}

.submit-button {
    align-self: center;
    font-size: 2.8rem;
    border-radius: 0.6rem;
    padding: 0rem 1.2rem 2.2rem 1rem;
    margin-top: auto;
    border: none;
    text-transform: lowercase;
}
.submit-button[disabled] {
    background-color: white;
    color: black;
    opacity: 0.5;
}

.score {
    font-family: monospace;
    font-size: 1.8rem;
}
