:root {
    --bg-img: none;
    --bg-x: 50%;
    --bg-y: 50%;
}

body {
    border: none;
    background-size: cover;
    background-image: var(--bg-img);
    background-position: var(--bg-x) var(--bg-y);
}

body.hide-ui>* {
    display: none !important;
}

.desc {
    font-size: 1.1rem;
    line-height: 1.1;
}

.outlined {
    margin: 0;
    text-shadow: 0.12em 0.09em 0px black, 0.06em 0.06em 0px black, -0.06em -0.06em 0px black, 0.06em -0.06em 0px black, -0.06em 0.06em 0px black;
}

.submit-button {
    border: 0.18rem solid var(--highlight);
    background-color: var(--black);
    color: white;
}

.influence-msg:not(:empty) {
    padding: 1rem;
    background: var(--black);
    border: 0.18rem solid var(--highlight);
    border-radius: 0.3rem;
}

.convert {
    background: white;
    color: var(--black);
    padding: 0rem 1rem 0.2rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    border: 0.18rem solid var(--black);
    text-transform: lowercase;
}

.convert-msg {
    font-size: 0.9rem;
    margin: 0.7rem 0;
}

.owned {
    text-align: center;
    font-size: 1rem;
    margin: 0.7rem 0 1.1rem;
}
